%strong{:class => "code", :id => "message"} Add a Blog
%form{:action => "add_blog", :method => "post"}
  %br
    Author:
    %input{:type => "text", :name => "author"}
  %br
    Title:
    %input{:type => "text", :name => "title"}
  %br
    Text:
    %input{:type => "textarea", :name => "textarea"}
  %br
    Article:
    %input{:type => "text", :name => "fulltext"}
  %br
    %input{:type => "submit", :id => "submit", :value => "submit"}

