%strong{:class => "code", :id => "message"} Comment on Blog

%form{:action => "add_comment", :method => "post"}
  %br
    Your Name:
    %input{:type => "text", :name => "name"}
  %br
    Comment:
    %input{:type => "textarea", :name => "comment"}
  %br
    %input{:type => "submit", :id => "submit", :value => "submit"}


