%strong{:class => "code", :id => "message"} A Single Blog



%div{id: "post", class: "post"}
  %p= the_entry.author
  %p= the_entry.title
  %p= the_entry.textarea
  %p= the_entry.fulltext

%hr

%h5 Comments




%form{:action => "new_comment", :method => "get"}
  %br
  %div{id: "new_comment_button"}
    %input{:type => "submit", :id => "new_comment", :value => "New"}